﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="example">
    <div id="tabStrip" kendo-tab-strip">
        <ul>
            <li class="k-state-active">
                @Html.ActionLink("Books", "Books", "BookMvc")
            </li>
            <li>
                @Html.ActionLink("Authors", "Authors", "BookMvc")
            </li>
            <li>
                @Html.ActionLink("Journals", "Journals", "BookMvc")
            </li>
            <li>
                @Html.ActionLink("Articles", "Articles", "BookMvc")
            </li>
        </ul>
            <div kendo-grid id="grid" k-options="booksGrid">
                <app-root>Загрузка...</app-root>
            </div>
    </div>
</div>