﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="example" class="k-content">
    <div id="tabStrip">
        <ul>
            <li>
                @Html.ActionLink("Books", "Books", "BookMvc")
            </li>
            <li>
                @Html.ActionLink("Authors", "Authors", "BookMvc")
            </li>
            <li class="k-state-active">
                @Html.ActionLink("Journals", "Journals", "BookMvc")
            </li>
            <li>
                @Html.ActionLink("Articles", "Articles", "BookMvc")
            </li>
        </ul>
        <div id="journalsGrid">   </div>
    </div>
</div>
