﻿@using System.Web.Optimization
@{

    string version = typeof(Library.Web.RouteConfig).Assembly.GetName().Version.ToString();
    var appSettings = System.Configuration.ConfigurationManager.AppSettings;
    string webApiEndPoint = System.Configuration.ConfigurationManager.AppSettings["WebApiEndPoint"].ToString();

    string currentRoute = "/";

    foreach (string key in HttpContext.Current.Request.QueryString.AllKeys)
    {
        if (key == "CurrentRoute")
        {
            currentRoute = HttpContext.Current.Request.QueryString[key];
            break;
        }
    }

    string runMode = Library.Web.Properties.Settings.Default.RunMode;

    IEnumerable<string> fileEntries = Enumerable.Empty<string>();
    List<string> bundles = new List<string>();


    if (runMode == "WEBAPI")
    {
        Response.Write("running web api mode");

    }
    else
    {

        fileEntries = Directory.EnumerateFiles(Server.MapPath("~/Library.View.Angular/Library.App/dist/"));
        bundles.Add("inline.");
        bundles.Add("polyfills");
        bundles.Add("styles.");
        bundles.Add("vendor.");
        bundles.Add("main.");
    }

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/kendo-styles")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo-scripts")
    @Scripts.Render("~/bundles/kendo-custom-scripts")
    @Scripts.Render("~/bundles/library-angular")

    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <base href="/">
    }
    else
    {
        <base href="http://localhost:56916/Library.Web/Library.View.Angular/Library.App/">
    }

    <script>
     history.pushState({}, null, "@currentRoute");
    </script>
</head>
<body>
    @RenderBody()
    @if (runMode == "WEBAPI")
    {
        return;
    }

    <app-root imagesDirectory="dist" webApiEndPoint="@webApiEndPoint">Loading @version</app-root>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    @if (HttpContext.Current.IsDebuggingEnabled)
    {

        <script src="~/Library.View.Angular/Library.App/dist/inline.bundle.js?v=@version"></script>
        <script src="~/Library.View.Angular/Library.App/dist/polyfills.bundle.js?v=@version"></script>
        <script src="~/Library.View.Angular/Library.App/dist/styles.bundle.js?v=@version"></script>
        <script src="~/Library.View.Angular/Library.App/dist/vendor.bundle.js?v=@version"></script>
        <script src="~/Library.View.Angular/Library.App/dist/main.bundle.js?v=@version"></script>
    }
    else
    {
        foreach (string bundleName in bundles)
        {
            foreach (string fileName in fileEntries)
            {
                FileInfo fileInformation = new FileInfo(fileName);
                if (fileInformation.Name.Contains(bundleName) && fileInformation.Name.Contains(".map") == false)
                {
                    if (fileInformation.Name.Contains("styles"))
                    {
                        <link href="~/Library.View.Angular/Library.App/dist/@fileInformation.Name" rel="stylesheet" />
                    }
                    else
                    {
                        <script src="~/Library.View.Angular/Library.App/dist/@fileInformation.Name"></script>
                    }
                }
            }
        }
    }
</body>
</html>