﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.k-grid .k-grid-toolbar .k-grid-add,
.k-grid tbody .k-grid-edit,
.k-grid tbody .k-grid-update,
.k-grid tbody .k-grid-cancel,
.k-grid tbody .k-grid-delete {
    min-width: 0;
}
    .k-grid .k-grid-toolbar .k-grid-add .k-icon,
    .k-grid tbody .k-grid-edit .k-icon,
    .k-grid tbody .k-grid-update .k-icon,
    .k-grid tbody .k-grid-cancel .k-icon,
    .k-grid tbody .k-grid-delete .k-icon {
        margin: 0;
    }
.k-grid tbody .k-grid .k-grid-header {
    height: 0;
    width: 0;
    border-bottom-width: 0;
    overflow: hidden;
    display: none; 
}
.k-content .k-grid .k-widget .k-display-block .k-editable {
    display: block;
}
.k-hierarchy-cell {
    visibility: hidden;
}
.k-grid-Showarticles .k-grid-Showauthors{
    border-color: #FFFFFF;
    text-align: center;
}
#tabStrip {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
}
#grid {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#authorsMainGrid {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#journalsGrid {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#articlesGrid {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}